@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://cdn.syncfusion.com/ej2/20.2.43/tailwind.css";

* {
  background-color: "#F9F9F9";
  /* BA92A6 */
  /* overflow-x: hidden; */
}

/* .Graphic_Side {
  position: absolute;
  overflow: hidden;
  z-index: -10;
  width: 100vw;
  height: 200px;

  background: radial-gradient(
    36.28% 150.93% at 50% 50%,
    #3b8aff 0%,
    #0048b3 100%
  );
  border-radius: 0px 0px 16px 16px;
}
.Ellipse5 {
  position: relative;
  width: 2112.61px;
  height: 2156px;
  top: -460px;
  left: -100px;

  z-index: 2;
  border-radius: 9999px;
  background: #ffffff;
  mix-blend-mode: multiply;
  opacity: 0.75;

  box-shadow: inset 24px 32px 184px 24px rgba(6, 8, 89, 0.75);
  transform: rotate(90deg);
}
.Ellipes4 {
  position: relative;
  width: 1635.38px;
  height: 1670.33px;
  left: 470px;
  top: 640px;

  z-index: 0;
  border-radius: 9999px;
  background: #ffffff;
  mix-blend-mode: multiply;
  opacity: 0.75;

  box-shadow: inset 24px 32px 184px 24px rgba(6, 8, 89, 0.75);
  transform: rotate(90deg);
}

.Ellipse3 {
  position: relative;

  width: 1389.53px;
  height: 1418.45px;
  left: -0px;
  z-index: 4;
  border-radius: 9999px;
  background: #ffffff;
  mix-blend-mode: multiply;
  opacity: 0.75;

  box-shadow: inset 24px 32px 184px 24px rgba(6, 8, 89, 0.75);
  transform: rotate(90deg);
} */

.e-grid .e-headercell {
  height: 44px;
  padding: 0px 0px 0px 0px;
  /* background: #000; */
}
.e-grid .e-headercelldiv {
  font-size: 16px;
  color: #8a92a6;
}

.e-grid .e-rowcell {
  font-size: 16px;
}

.blueCircle {
  position: relative;
  width: 385px;
  height: 385px;
  left: -181px;
  top: -120px;

  border-radius: 9999px;

  background: radial-gradient(
      77.62% 77.62% at 0% -2.56%,
      #08328c 0%,
      #1964d3 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.greenCircle {
  position: relative;
  width: 373px;
  height: 373px;
  left: 160px;
  top: -300px;
  border-radius: 9999px;

  background: radial-gradient(
      90.92% 90.92% at 102.52% 107.77%,
      #24777d 0%,
      #9ae5eb 100%
    )
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}

.CardDtls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;
  width: 22rem;

  position: relative;
  left: 4%;
  top: -220%;
  /* bottom: 36.64%; */

  background: rgba(255, 255, 255, 0.25);
  border: 2px solid #ffffff;
  backdrop-filter: blur(64px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 24px;
}

.whiteCircle {
  position: relative;
  width: 71px;
  height: 71px;

  left: 60px;
  border-radius: 9999px;

  background: #ffffff;
  opacity: 0.25;
}
.whiteCircle1 {
  position: relative;
  width: 71px;
  height: 71px;
  /* left: 180px;
  top: -80px; */
  left: 30px;
  border-radius: 9999px;

  background: #ffffff;
  opacity: 0.25;
}
/* .e-grid .e-rowcell {
  background: red;
}
 */
.red {
  background: #f87171;
}
.green {
  background-color: #86efac;
}
.e-row:hover {
  animation: none;
}
